main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.form-container > :first-child {
  margin-top: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.input-container {
  position: relative;
  transition: 0.5s;
}

.input-container span {
  font-size: 1.2em;
  font-weight: 600;
  color: #8f8f8f;
  position: absolute;
  left: 6px;
  bottom: 23%;
  pointer-events: none;
  transition: 0.5s;
}

input:valid ~ span,
input:focus ~ span {
  color: #272343;
  transform: translateY(-44px);
  font-size: 0.9em;
}

input {
  background: transparent;
  width: 400px;
  height: 45px;
  border: solid #272343 2px;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  outline: 0;
  font-size: 1.2em;
  font-weight: 700;
  color: #272343;
}

input[type="submit"],
input[type = "button"] {
  background-color: #ffd803;
  color: #272343;
  cursor: pointer;
}

input[type="date"] {
  color: transparent;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
}

.input-container input[type="date"]:focus,
.input-container input[type="date"]:valid {
  color: #272343;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator
 {
  cursor: pointer;
}

input:hover,
input:not(input[type="submit"]):focus,
input:not(input[type="submit"]):valid {
  box-shadow: 0 5px 15px -10px rgba(31, 18, 53, 0.6);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

select{
  border: #272343 solid 1px;
  width: 400px;
  color: #272343;
  height: 45px;
  font-size: 1.2em;
  text-align: center;
  padding: 0 10px 0 10px;
  background-color: #e3f6f5;
  border-radius: 5px;
}

select{
  margin-bottom: 15px;
}

.error-info {
  color: red;
}
