header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  background: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  min-width: 100px;
  min-height: 100px;
}

.right-header-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
  text-align: center;
}

.header-option {
  color: #272343;
}

.active-page,
.header-option:hover {
  color: #272343;
  text-decoration: underline #272343;
  text-underline-offset: 9px;
}
