header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.logo-container {
  background: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  min-width: 100px;
  min-height: 100px;
}

.right-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 115px;
  gap: 140px;
  width: 50%;
  text-align: center;
}

.header-option {
  color: #272343;
}

.active-page{
  color: #272343;
  text-decoration: underline #272343;
  text-underline-offset: 5px;
}
